body{
	background-color: #F5F3EB;
	
}
.fixed{
	position: static;
	
}
h3{
	text-decoration: none;
	font-size: 24px;
	color:#5E6C73;
	font-family: Helvetica;
	margin-top: 180px;
	margin-left: 120px;
}
p{
	list-style: none;
	font-size: 14px;
	color: #859299;
	font-family: Helvetica;
	margin-top: 30px;
	margin-left: 120px;
}
img{
	margin-left: 400px;
	margin-top: -80px;
	height: auto;
	padding-bottom: 110px;
}
img:hover{
	opacity: 0.3;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
span.text-content{
	font-family: Helvetica;
	font-size: 14px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #5E6C73;
	position: absolute;
	width: 700px;
	opacity: 0;
	-webkit-transition: opacity .25s;
	-moz-transition: opacity .25s;
	-o-transition: opacity .25s;
	transition: opacity .25s;
	cursor: pointer;
	display:table;
}
img:hover span.text-content{
	opacity: 1;